.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0; }
  .container .container--modifier {
    width: 60%; }

.umbrella {
  width: 100%;
  min-height: 100vh;
  background: #080809; }

.nav__umbrella {
  color: #fff;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0; }

.logo__umbrella {
  height: 50px; }

.links ul {
  list-style: none; }

.link {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
  padding: 10px; }

.link--active {
  color: #800000;
  font-weight: 700; }

.umbrella__main {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding: 0; }

.fondo {
  object-fit: cover;
  height: calc(100vh - 70px); }

.fondo--modifier {
  margin-left: 200px; }

.link::after {
  content: "";
  position: absolute;
  background-color: #800000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s; }

.link:hover {
  color: #800000;
  transform: scale(1.15); }

.link:hover::after {
  width: 100%; }

.title {
  font-size: 56px;
  font-weight: 300;
  color: #fff; }

.title--active {
  color: #800000;
  font-weight: 300; }

.copy {
  font-size: 24px;
  color: #ffffff80;
  text-shadow: 0 8px 8px #00000033;
  margin: 15px 0; }

.copy__active {
  font-weight: 700; }

.cta {
  padding: 20px 30px;
  display: inline-block;
  background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
  text-decoration: none;
  color: black;
  font-weight: 700;
  box-shadow: #00000033;
  border-radius: 6px; }

/* servicies */
.services {
  background-color: #fafafa; }

.subtitle {
  font-size: 42px; }

.subtitle--modifier {
  text-align: center;
  margin-bottom: 16px; }

.copy__section {
  color: #080809;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 60px; }

.copy__section--modifier {
  text-align: center;
  margin-bottom: 32px; }

.container-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.card {
  width: 30%;
  padding: 30px 0;
  overflow: hidden;
  background: linear-gradient(180deg, #080809 0%, black 100%);
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: 0 0 6px #080809; }

.card__img {
  text-align: center;
  width: 99%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; }

.cards_text {
  text-align: center;
  width: 90%;
  margin: 0 auto; }

.card__list {
  color: goldenrod;
  font-weight: 700;
  margin: 25px 0 12px;
  font-size: 18px; }

.card__title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 8px; }

.card__copy {
  color: grey;
  margin-bottom: 16px; }

.card__button {
  align-content: center;
  background: linear-gradient(180deg, #f7ce90 0%, #f48d76 100%);
  border-radius: 6px;
  width: 100%;
  color: #080809;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  text-decoration: none; }

.card__date {
  color: #800000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px; }

.container-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.background {
  width: 68%;
  height: 290px;
  border-radius: 10px;
  position: relative;
  margin-bottom: 60px; }

.background__img {
  width: 97%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit; }

.background__text {
  position: absolute;
  width: 100%;
  bottom: 30px;
  left: 15px;
  color: blanchedalmond; }

.check {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto; }

.check__item {
  width: 30%;
  padding-right: 10px;
  display: flex;
  border-right: 2px solid #080809; }

.bx-check {
  background: linear-gradient(180deg, #080809 0%, black 100%);
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 20px;
  color: #fff;
  border-radius: 50%;
  font-size: 40px; }

.check__number {
  font-weight: 700; }

.check__copy {
  font-weight: 300; }

.newsletter {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  height: auto;
  font-family: inherit;
  position: relative;
  border-radius: 6px; }

.newsletter--modifier {
  margin: 0;
  width: 90%; }

.newsletter__input {
  width: 100%;
  height: 100%;
  padding: 22px 10px;
  outline: none;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid black; }

.newsletter__submit {
  position: absolute;
  right: 8px;
  top: 10%;
  height: 80%;
  background: linear-gradient(180deg, #080809 0%, black 100%);
  color: #fff;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer; }

.footer {
  background: #fafafa; }

.footer__caption {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly; }

.title__footer {
  font-size: 24px;
  margin-bottom: 32; }

.dowloand {
  width: 50%; }

.dowloand__app {
  display: flex; }

.dowloand__item {
  display: flex;
  padding: 18px 12px;
  border-radius: 6px;
  border: 1px solid #080809;
  width: 42%;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 16px; }

.dowloand__logo {
  font-size: 40px;
  margin-right: 20px; }

.dowloand__title {
  font-size: 18px; }

.footer__copy {
  width: 100%;
  color: #080809;
  display: flex;
  flex-wrap: wrap; }

.copyright {
  width: 100%; }

.politica__privacidad {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px; }

.politica__privacidad:hover {
  text-decoration: overline; }

.politica__privacidad--margin {
  margin-right: 10px; }

.get-email {
  width: 50%; }

.socialmedia {
  margin-top: 24px;
  display: flex;
  color: #080809; }

.socialmedia__icon {
  font-size: 18px;
  margin-right: 30px;
  display: inline-block; }

.socialmedia__legend {
  color: #080809;
  margin-right: 16px; }

.link::after {
  content: "";
  position: absolute;
  background-color: #800000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s; }

.link:hover {
  color: #800000;
  transform: scale(1.15); }

.link:hover::after {
  width: 100%; }

@media screen and (max-width: 1200px) {
  .logo__umbrella {
    height: 80px;
    width: 80px;
    padding: 15px 0;
    text-align: center; }
  .nav__container {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .fondo {
    width: 500px;
    height: auto; }
  .nav__umbrella {
    height: auto; }
  .links {
    padding-bottom: 10px;
    text-align: center; } }

@media screen and (max-width: 975px) {
  .logo__umbrella {
    height: 80px;
    width: 80px;
    padding: 15px 0;
    text-align: center; }
  .nav__container {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .fondo {
    width: 500px;
    height: auto; }
  .nav__umbrella {
    height: auto; }
  .links {
    padding-bottom: 10px;
    text-align: center; } }

@media screen and (max-width: 900px) {
  .logo__umbrella {
    height: 80px;
    width: 80px;
    padding: 15px 0;
    text-align: center; }
  .nav__container {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .nav__umbrella {
    height: auto; }
  .links {
    padding-bottom: 10px;
    text-align: center; }
  .fondo {
    width: 450px;
    height: auto; }
  .title {
    font-size: 45px; }
  .copy {
    font-size: 20px; }
  .cta {
    padding: 10px 20px; }
  .container-cards {
    justify-content: space-evenly; }
  .services .card {
    width: 45%; }
  .background {
    width: 50%; }
  .card {
    width: 40%; }
  .dowloand {
    width: 100%; }
  .dowloand__app {
    justify-content: space-between; }
  .dowloand__item {
    width: 45%; }
  .get-email {
    width: 60%;
    margin-bottom: 60px; }
  .socialmedia__icon {
    font-size: 20px; }
  .socialmedia__legend {
    font-size: 18px; } }

@media screen and (max-width: 700px) {
  .logo__umbrella {
    height: 100px;
    width: 100px;
    padding: 15px 0;
    text-align: center; }
  main .container,
  footer .container {
    padding: 60px 0; }
  .nav__container {
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .nav__umbrella {
    height: auto; }
  .links {
    padding-bottom: 10px;
    text-align: center; }
  .link {
    padding: 7px 10px; }
  .umbrella__main {
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: auto;
    padding: 30px 0; }
  .umbrella__texto {
    width: 100%;
    text-align: center; }
  .fondo {
    width: 60%;
    margin-bottom: 20px; }
  .title {
    font-size: 30px; }
  .copy {
    font-size: 20; }
  .subtitle {
    font-size: 35px;
    text-align: center; }
  .copy__section {
    font-size: 20px;
    text-align: center; }
  .services .card {
    width: 80%; }
  .container-bg {
    justify-content: space-evenly; }
  .card {
    margin-bottom: 40px;
    width: 60%; }
  .card__title {
    font-size: 35px; }
  .card__button {
    width: 100%; }
  .background {
    width: 70%;
    margin-bottom: 40px; }
  .background__copy {
    display: inline;
    font-size: 18px; }
  .container--modifier {
    width: 100%; }
  .socialmedia {
    align-items: center; }
  .check__item {
    justify-content: space-evenly; }
  .socialmedia__legend {
    font-size: 20px; } }

@media screen and (max-width: 500px) {
  .logo__umbrella {
    width: 100px;
    height: 100px; }
  .fondo {
    width: 80%;
    margin-bottom: 15px; }
  .services .card {
    width: 95%; }
  .card {
    width: 95%; }
  .background {
    width: 95%; }
  .container--modifier {
    width: 90%; }
  .newsletter {
    width: 230px;
    display: none; }
  .newsletter--modifier {
    display: block; }
  .check__item {
    border: none;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .dowloand__item {
    width: 50%; }
  .dowloand__title {
    font-size: 16px; }
  .dowloand__logo {
    font-size: 30px; } }
