@media screen and (max-width: 1000px){
    .fondo{
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width:900px){
    .fondo{
        width: 450px;
        height: auto;
    }
    /* .fondo--modifier{
        height: 70%;
        padding-right: 400px;
    } */
    /* consultar como arreglar */
    .title{
        font-size: 45px;
    }
    .copy{
        font-size: 20px;
    }
    .cta{
        padding: 10px 20px;
    }
    .container-cards{
        justify-content: space-evenly;
    }
    .services .card{
        width: 45%;
    }
    .background{
        width: 50%;
    }
    .card{
        width: 40%;
    }
    .dowloand{
        width: 100%;
    }
    .dowloand__app{
        justify-content: space-between;
    }
    .dowloand__item{
        width: 45%;
    }
    .get-email{
        width: 60%;
        margin-bottom: 60px;
    }
    .socialmedia__icon{
        font-size: 20px;
    }
    .socialmedia__legend{
        font-size: 18px;
    }
}