.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.check__item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid #080809;
}
.bx-check{
    background: linear-gradient(180deg, #080809 0%, black 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}
.check__number{
    font-weight: 700;
}
.check__copy{
    font-weight: 300;
}
.newsletter{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}
.newsletter--modifier{
    margin: 0;
    width: 90%;
}
.newsletter__input{
    width: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid black;
}
.newsletter__submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, #080809 0%, black 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
} 