@media screen and (max-width: 1200px){
    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fondo{
        width: 500px;
        height: auto;
    }
    .fondo__producto{
        width: 30%;
        object-position: cover;
    }
    .nav__umbrella{
        height: auto;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 975px){
    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .fondo{
        width: 500px;
        height: auto;
    }
    .fondo--modifierindex{
        width: 50%;
        height: auto;
    }
    .fondo__producto{
        width: 30%;
        object-position: cover;
    }
    .nav__umbrella{
        height: auto;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
}

@media screen and (max-width:900px){
    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .nav__umbrella{
        height: auto;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
    .umbrella__main{
        margin: 0 150px
    }
    .fondo{
        width: 450px;
        height: auto;
    }
    .fondo--modifierindex{
        width: 350px;
    }
    .fondo__producto{
        width: 30%;
        object-position: cover;
    }
    .title{
        font-size: 40px;
    }
    .copy{
        font-size: 20px;
    }
    .cta{
        padding: 10px 20px;
    }
    .container-cards{
        justify-content: space-evenly;
    }
    .services .card{
        width: 45%;
    }
    .background{
        width: 50%;
    }
    .card{
        width: 40%;
    }
    .dowloand{
        width: 100%;
    }
    .dowloand__app{
        justify-content: space-between;
    }
    .dowloand__item{
        width: 45%;
    }
    .get-email{
        width: 60%;
        margin-bottom: 60px;
    }
    .socialmedia__icon{
        font-size: 20px;
    }
    .socialmedia__legend{
        font-size: 18px;
    }
}
@media (min-width:768px){

    .logo-header img{
        text-align: center;
    }
  }
  
  @media (max-width:768px){
    header.main-header{
      margin-bottom: 4rem;
    }
    .header-wrap{
      position: fixed;
      width: 100%;
      background-color: #080809;
      padding: 0;
      top: 0;
      z-index: 9999;
      height: 100px;
    }
    .wrap-logo-header{
    display: none;
    }
    .logo-header, li.menu-item a{
      color: #222;
    }
  
    i.toggle-menu{
      display: flex;
    }
    ul.main-menu,#nav-main-contact{
      display: none;
      left: 0;
      margin: 0;
      padding: 0;
    }
    ul.main-menu{
      position: fixed;
      background-color: #fff;
    }
    label.checkbtn{
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      top: 3%;
      z-index: 9999;
      cursor: pointer;
    }
    #check:checked ~ ul{
      display: flex;
      z-index: 9;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      top: 0;
      font-size: 2rem;
    }
    .umbrella__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
        padding: 98px 0;
        margin: auto;
    }
  }
  

@media screen and (max-width:700px){
    main .container,
    footer .container{
        padding: 60px 0;
    }
    .nav__container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .nav__umbrella{
        height: auto;
    }
    .links{
        padding-bottom: 10px;
        text-align: center;
    }
    .link{
        padding: 7px 10px;
    }
    .umbrella__main{
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
        padding: 98px 0;
        margin: auto;
    }
    .umbrella__texto{
        width: 100%;
        text-align: center;
    }
    .fondo{
        width: 60%;
        margin-bottom: 20px;
    }
    .fondo__producto{
        width: 30%;
        object-position: cover;
    }
    .title{
        font-size: 30px;
    }
    .copy{
        font-size: 20;
    }
    .subtitle{
        font-size: 35px;
        text-align: center;
    }
    .copy__section{
        font-size: 20px;
        text-align: center;
    }
    .services .card{
        width: 80%;
    }
    .container-bg{
        justify-content: space-evenly;
    }
    .card{
        margin-bottom: 40px;
        width: 60%;
    }
    .card__title{
        font-size: 35px;
    }
    .card__button{
        width: 100%;
    }
    .background{
        width: 70%;
        margin-bottom: 40px;
    }
    .background__copy{
        display: inline;
        font-size: 18px;
    }
    .container--modifier{
        width: 100%;       
    }
    .socialmedia{
        align-items: center;
    }
    .check__item{
        justify-content: space-evenly;
    }
    .socialmedia__legend{
        font-size: 20px;
    }
}
@media (max-width:640px){
    .wrap-two-column{
      grid-template-columns: 1fr;
    }
  } 
  
@media screen and (max-width:500px){
    .fondo{
        width: 80%;
        margin-bottom: 15px;
    }
    .fondo--modifierindex{
        width: 250px;
    }
    .fondo__producto{
        width: 30%;
        object-position: cover;
    }
    .services .card{
        width: 95%;
    }
    .card{
        width: 95%;
    }

    .background{
        width: 95%;
    }
    .container--modifier{
        width: 90%;
    }
    .newsletter{
        width: 230px;
        display: none;
    }
    .newsletter--modifier{
        display: block;

    }
    .check__item{
        border: none;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .dowloand__item{
        width: 50%;
    }
    .dowloand__title{
        font-size: 16px;
    }
    .dowloand__logo{
        font-size: 30px;
    }
}
